* {
    font-family: 'century gothic';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

/* configuraçoes-gerais */
header {
    background-color: whitesmoke;
}
/* bloco1 */
.bloco-1 {
    padding: 0px 10%;
}

/* 1º-bloco-de-texto */
article {
    height: 100%;
    margin: 6.4% 0% 11% 0%;
}
.bloco-de-texto1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bloco-de-texto1 h1 {
    font-size: 35px;
}
.bloco-de-texto1 h2 {
    font-weight: 100;
    font-size: 20px;
}
.bloco-de-texto1 p {
    font-weight: bold;
    font-size: 18px;
}
.bloco-de-texto1 button {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    padding: 5% 10% 5% 10%;
    background-color: black;
    border-radius: 10px;
}/* fim-1º-bloco-de-texto */
/* fim-bloco1 */

/* bloco-2 */
.bloco-2, .cursoADS {
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

/* titulo */
.titulo2 h1 {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}/* fim-titulo */

/* cards-etec */
.bloco-2 .cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.bloco-2 .card {
    width: 380px;
    height: 200px;
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.bloco-2 .card svg{
    color: red;
}
.bloco-2 .card .desc p{
    font-size: 15px;
}/* fim-cards-etec */

/* frase-com-foto */
.bloco-de-texto2 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    font-size: 15px;
}

.frase-foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco2 .foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: blue;
}

/* bloco-3 */

.bloco_3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* fim-bloco-3 */

/* cards-alunos */
.card-wrapper {
    display: flex;
    gap: 40px;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
}

.bloco_3 .card {
    border-radius: 25px;
    background-color: whitesmoke;
    width: 320px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    background-color: white;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4070F4;
    left: 0;
    top: 0;
    border-radius: 25px 25px 0 0;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #265DF2;
}

.view-more {
    text-align: center;
    margin-top: 3%;
}

.view-more .button a {
    text-decoration: none;
    color: #fff;
}/* fim-cards-alunos */

.bloco-4 .titulo2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 5%;
}

.cursoADS {
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

.foto-ds {
    width: 100%;
}

/* bloco-4 */
.bloco-4 {
    background-color: black;
    color: white;
}

.box {
    display: flex;
    justify-content: space-between;
}

.card-box {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #333;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-box::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 200%;
    background: linear-gradient(180deg, #07e2f1, #eb9b05);
    animation: animate 3s linear infinite;
}

@keyframes animate {
    100% {
        transform: rotate(360deg);
    }
    
}

.card-box::after {
    content: "";
    position: absolute;
    background-color: #333;
    inset: 5px;
    border-radius: inherit;
}

.box-text {
    color: white;
    z-index: 1;
    font-size: 20px;
    position: relative;
}


/* bloco-5 */
.bloco-5 {
    background-color: coral;
}

.bloco-5 .titulo2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 5%;
}

.box-nutri {
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-nutri img {
    width: 100%;
}

.bloco-6 {
    background-color: #4070F4;
}

/* transicoes */
