* {
    font-family: 'century gothic';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #f2f7ff;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #f7f7ff;
}

.footer-text p{
    font-size: 1.6rem;
    color: black;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #b20000;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    transform: translatey(-8px);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #f7f7ff;
}